ul {
  list-style: none;
  padding: 0;
}
section{
  margin-top: 15px;
}
@media screen and (max-device-width: 500px) {
  .top {
    text-align: center;
    height: min-content;
    margin: auto;
    padding: 0 40px;
  }
  .top_img {
    width: 500px;
  }
  .button_core {
    width: 250px;
    height: 120px;
    font-size: xx-large;
  }
  .footer {
    margin-top: 80px;
  }
  .go {
    position: relative;
    top: 0px;
  }
  .left {
    position: relative;
    right: 300px;
    top: 300px;
  }
  .right {
    position: relative;
    left: 300px;
    top: 60px;
  }.content {
    display: -webkit-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  
  .content__group {
    margin: 50px 50px;
    position: relative;
    display: inline-block;
    width: calc((95% - 120px) / 4);
  }
  
  .content__group:nth-child(n+5) {
  
  }
  
  .content__group:not(:nth-child(4n)) {
    margin-right: 40px;
  }
  
  .content__group:not(:nth-child(4n)):after {
    content: url(../img/next.png);
    position: absolute;
    top: 25%;
    right: -35px;
  }
  
  .content__group__image {
    width: 50px;
    cursor: pointer;
  }
  
  .content__group__image__start {
    width: 60px;
    position: absolute;
    top: -15px;
    left: -15px;
  }
  
  .content__group__image__goal {
    width: 60px;
    position: absolute;
    top: -15px;
    left: 270px;
  }
  
  .content__group__paragraph {
    margin-top: 5px;
    text-align: left;
  }
  
  .content__group:first-child, .content__group:last-child {
    position: relative;
  }
}
@media screen and (min-device-width: 1100px) {
  .main {
    width: 1100px;
  }
  .top_img {
    width: 550px;
  }
  .button_core {
    width: 250px;
    height: 120px;
    font-size: medium;
    outline: none;
  }
  .button_core {
    width: 150px;
    height: 80px;
  }
  .footer {
    margin-top: 80px;
  }
  .go {
    position: relative;
    top: 50px;
  }
  .left {
    position: relative;
    right: 180px;
    top: 240px;
  }
  .right {
    position: relative;
    left: 180px;
    top: 80px;
  }
  .content {
    display: -webkit-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  
  .content__group {
    margin: 50px 50px;
    position: relative;
    display: inline-block;
    width: calc((95% - 120px) / 4);
  }
  
  .content__group:nth-child(n+5) {
  
  }
  
  .content__group:not(:nth-child(4n)) {
    margin-right: 40px;
  }
  
  .content__group:not(:nth-child(4n)):after {
    content: url(../img/next.png);
    position: absolute;
    top: 25%;
    right: -35px;
  }
  
  .content__group__image {
    width: 70px;
    cursor: pointer;
  }
  
  .content__group__image__start {
    width: 60px;
    position: absolute;
    top: -15px;
    left: -15px;
  }
  
  .content__group__image__goal {
    width: 60px;
    position: absolute;
    top: -15px;
    left: 270px;
  }
  
  .content__group__paragraph {
    margin-top: 5px;
    text-align: left;
  }
  
  .content__group:first-child, .content__group:last-child {
    position: relative;
  }
}
.main {
  width: 1100px;
  margin: auto;
  background-image: url("pic/KIRINN.png");
  background-blend-mode: lighten;
}
.top {
  text-align: center;
  height: min-content;
  margin: auto;
  padding: 0 40px;
}
#wrapper {
  width: 100%;
  text-align: center;
  margin:  auto;
  display: flex;
  flex-wrap: wrap;
}

.left-column {
  width: 50%;
}

.right-column {
  width: 50%;
}
.sound {
  text-align: center;
  margin: auto;
  padding: 0 40px;
}
.button {
  width: 550px;
  text-align: center;
  margin: auto;

}
.button_outside {
  display: block;
  width: min-content;
  margin: auto;
  text-align: center;
}
.button_core {

  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #d3abab; /*ボタン色*/
  color: #fff;
  border-bottom: solid 4px #47263c;
  border-radius: 40px;
  outline: none;
}
.button_core:active {
  /*ボタンを押したとき*/
  text-decoration: none;
  transform: translateY(4px);
  transform: translateY(4px); /*下に動く*/
 /* border: none; /*線を消す*/
 /* outline: none; */
}
.parts{
  width: 500px;
  margin:auto;
}
